* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#slider_block {
  position: relative;
  width: 60%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 5px solid #888614;
  border-radius: 10px;
  overflow: hidden;
}
#slider_block > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.prev_block,
.next_block {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
}
.prev_block {
  left: 0;
}
.next_block {
  right: 0;
}
.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s linear;
}
.prev_block:hover .prev,
.next_block:hover .next {
  opacity: 1;
}
.circles_slider {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid #888614;
  border-radius: 50px;
}
.circles_slider i {
  margin: 0 10px;
  border: 2px solid #888614;
  border-radius: 50%;
}
.circles_slider i.active {
  color: #ffffff;
}
